html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    background-color: #0F228C;
}

#app {
    display: flex;
    flex-direction: column;
    
    color: #115905
    
}

img {
    border-radius: 5px;
}

#profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    background-color: #E1EAEF;
    border-radius: 10px;
}

#experience {
    margin: 10px;
    padding: 10px;
    background-color: #E1EAEF;
    border-radius: 10px;
}

#skills {
    margin: 10px;
    padding: 10px;
    background-color: #E1EAEF;
    border-radius: 10px;
}

#new-experience {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#new-experience input {
    width: 40%;
    margin: 2px;
}

#new-skill {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content:space-between;
}

.skill-stuff {
    margin: 1px
}