html {
    box-sizing: border-box;
    background: linear-gradient(#175973,#49B1F2);
    background-repeat: no-repeat;
    min-height: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
*, *:before, *:after {
    box-sizing: inherit;
    
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    font-family: 'PT Sans', sans-serif;

    /* background: linear-gradient(#175973,#49B1F2);
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover; */
    

    align-items: center;
}


header {
    width: 100%;
    color: #E1EAEF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header h3 {
    display: flex;
    align-content: center;
    justify-content: center;
    
}

header a {
    margin: 5px;
    color: #E1EAEF;
}

#app {
    display: flex;
    flex-direction: column;

    
    
    color:#322F2C;
    
}

#block {
    width: 100%
}

#intro {
    margin: 20px;
    padding: 20px;
    background-color: #E1EAEF;
    background-image: url("https://c1.staticflickr.com/9/8012/7277617204_010211c5b5_b.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    color: #322F2C;
    font-size: 1.5em
}


#profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    background-color: #E1EAEF;
    border-radius: 20px;
    
}

#profile h2 {
    display: flex;
    align-self: center;
}

#profile img {
    width: 80%;
    object-fit: contain;
    display: flex;
    align-self: center;
    border-radius: 20px;
    border: 3px solid #322F2C;
    
}

#experience {
    margin: 10px;
    padding: 10px;
    background-color: #E1EAEF;
    border-radius: 20px;
    
}

#skills {
    margin: 10px;
    padding: 10px;
    background-color: #E1EAEF;
    border-radius: 20px;
    
}

#new-experience {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#new-experience input {
    width: 40%;
    margin: 2px;
}

#new-skill {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content:space-between;
    align-self: flex-end;
}

.skill-stuff {
    margin: 1px;
}


#search {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#searchbar {
    display: flex;
    align-self: center;
    max-width: 90%;
}

#search-results {
    display: flex;
    justify-content: flex-start;
}


#search-results li {
    display: flex;
    background-color: #E1EAEF;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

#search-results img {
    width: 100px;
    padding: 5px;
    border-radius: 20px;
    
}

@media (min-width: 768px) {
    #app {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #profile {
        width: 35%;
    }

    #experience {
        width: 55%;
    }

    #new-experience {
        max-width: 80%;
    }

    #skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 90%;

    }

     h3 {
        width: 100%;
        
    }

    #new-skill {
        display: flex;
        align-self: flex-end;
    }
    
}