{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
         
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="/static/style.css">
        <title>Cascadia Skill Swap{% block title %}{% endblock %}</title>
        
    </head>
    <body>
        
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/vue"></script>

        <header>
            <h1>Swap Them Skills</h1>
            
            <h3> <a href="/user/profile/">My Profile </a> | 
            <a href=""> Home </a> | 
            <a href="/user/search/"> Search </a> | 
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                
                <a href="{% url 'login' %}">Login</a> |
                <a href="{% url 'signup' %}">Signup</a></h3>
               
            {% endif %}

        </header>

        {% csrf_token %}
        <div>
            {% block content %}
            {% endblock content %}
        </div>
        
    </body>
</html>