{% extends 'base.html' %}
{% load static %}

{% block title %} -- Search{% endblock %}

{% block content %}

    <div id="app">
        <div id="search">
            <div id= "searchbar">
                <select v-model="searchCategory">
                    <option value="" selected>Please select...</option>
                    <option value="userprofiles">Hometown</option>
                    <option value="learnskills">Skills to Learn</option>
                    <option value="teachskills">Skills to Teach</option>
                    <option value="experiences">Experience</option>
                </select>
                <input type="text" v-model = "searchData">
                <button @click= "searchUsers">Search</button>

            </div>

            <div id="search-results">

                <div v-if = "userMatches.length">
                    <ul>
                        <li v-for="profile in userMatches">
                            <img :src="profile.profile_pic"><a :href="`/user/user/${profile.id}/`"><h3>[[profile.username]]</h3></a>
                            
                        </li>
                    </ul> 
                </div>

                <div id="skill-matches" v-if = "skillMatches.length">
                    <ul v-for = "match in skillMatches">
                        <li v-for="profile in match.username">
                            <img :src="profile.profile_pic">
                            <a :href="`/user/user/${profile.id}/`"><h3>[[profile.username]]</h3></a>
                            
                        </li>
                    </ul> 
                </div>

                <div v-if = "experienceMatches.length">
                    <ul>
                        <li v-for="profile in experienceMatches">
                            <img :src="profile.username.profile_pic">
                            <a :href="`/user/user/${profile.username.id}/`"> <h3>[[profile.username.username]]</h3> </a>
                            
                        </li>
                    </ul> 
                </div>

                
            </div>

            
        </div>
        
    </div>
    <script>
        let vm = new Vue({
            el: '#app',
            delimiters: ['[[',']]'],
            data: {
                searchData: "",
                searchCategory: "",
                userMatches: [],
                experienceMatches: [],
                skillMatches: []
            },
            methods: {
                searchUsers: function() {
                    let searchCategory = this.searchCategory
                    axios({
                        method: 'get',
                        url: `/api/v1/${searchCategory}/?search=${this.searchData}`,
                    }).then(response=> {
                        if (searchCategory === "userprofiles") {
                            this.userMatches = response.data
                            this.experienceMatches = []
                            this.skillMatches = []
                        }
                        else if (searchCategory === "experiences") {
                            this.experienceMatches = response.data
                            this.userMatches = []
                            this.skillMatches = []
                        }
                        else {
                            this.skillMatches = response.data
                            this.experienceMatches = []
                            this.userMatches = []
                        }
                    })
                }
            }

        })

    </script>

{% endblock content %}